body {
    color: #414141; /* Dark gray */
    background-color: #EEEEEE; /* Light gray */
    font-size: 18px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-roman;
}

a {
    text-decoration: none; /* deletes underlined text of links */ 
}

p {
    text-align: left;
}

/* (You probably shouldn't do this on real websites */ 
em {
    font-weight: bold;
    font-style: normal;
}

strong {
    font-weight: normal;
    font-style: italic;
}